body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
}

pre {
  overflow-x: auto;
}

.menu {
  padding: 0;
}

.menu li {
  display: inline-block;
}

.menu li a {
  margin-right: 0.5em;
}

img {
  max-width: 100%;
}