{{ define "main" }}

{{ $date := .Params.date.Format "2006-01-02" }}
{{ $lastmod := .Lastmod.Format "2006-01-02" }}

<h1>{{ .Params.title | markdownify }}</h1>
<h2>{{ $date }}</h2>
<h4>{{ if ne $date $lastmod }} Last edit: {{ $lastmod }} {{ end }}</h4>

{{ with .Params.tags }}
{{ range . }}
<b><a href="/tags/{{ . }}">{{ . }}</a></b>
{{ end }}
{{ end }}

{{ partial "partials/toc.html" . }}

{{ .Content }}

{{ with .Params.tootId }}
<mastodon-comments host="{{ site.Params.mastodonHost }}" user="{{ site.Params.mastodonUser }}" tootId="{{ . }}"></mastodon-comments>
{{ end }}

{{ end }}